:root {
    --view-bg: #1e1e1e;
    --on-view: #ffffff;
    --accent-bg: #3584e4;
    --on-accent: #ffffff;
    --radius: 16px;
    --border-opacity: 15%;
    --card-padding: 12px;
    --panel-bg: #000000;
    --border: color-mix(in srgb, currentColor var(--border-opacity), transparent);
}

.text-muted {
    color: var(--light-5);
}

.card {
    padding: var(--card-padding);
}

.card-heading {
    font-weight: 600;
    margin-bottom: 12px;
    opacity: var(--dim-opacity);
}

.card-body {}

.panel {
    font-family: "Adwaita Sans", system-ui, sans-serif;
    font-size: 13px;
    padding: 0 8px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background: var(--panel-bg);
}

.popover {
    padding: 8px;
}

.applet {
    transition: background 150ms ease;
    padding: 0 8px;
}

.applet.clickable:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.clock {
    font-weight: 600;
}

.clock-popover {
    padding: 8px;
    min-width: 300px;
}

.clock-popover>*:not(:last-child) {
    margin-bottom: 12px;
}

/*.clock-popover>*:first-child {
    padding-left: 4pxl*/
/*}*/

/*.clock-popover>*>* {
    margin-bottom: 16px;
}*/

/*.clock-popover-left {}*/

/*.clock-popover-right {
    min-width: 300px;
    border-left: 1px solid var(--border);
    padding-left: 16px;
}*/

.date {
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 16px;
    opacity: var(--dim-opacity);
}

.date .date-day-of-week {
    font-weight: 500;
}

.date .date-date {
    font-size: 130%;
    font-weight: 600;
}

.calendar calendar {
    border: 0;
    border-image-width: 0;
    background-color: transparent;
}


.calendar calendar header {
    border: 0;
}

.calendar .day-name {
    font-size: 90%;
}

.calendar .day-number {
    min-width: 30px;
    min-height: 30px;
    border-radius: 4px;
    background-color: transparent;
}

.calendar .today {
    color: var(--on-accent);
    background-color: var(--accent-bg);
    border: 0;
}

.events .events-header {
    font-weight: 600;
}

/* world clock */
.world-clock {}

.world-clock-header {}

.world-clock-list {}

.world-clock-list .world-clock-timezone:not(:last-child) {
    padding-bottom: 4px;
}

.world-clock-city {}

.world-clock-time {
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.world-clock-tz {
    padding-left: 8px;
    ;
    font-variant-numeric: tabular-nums;
}
