[Unit]
Description=Glimpse panel
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/glimpse-panel
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
